.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}
